<div ng-controller="BackofficeCtrl" layout="row" ng-cloak>

  <md-sidenav
  class="md-sidenav-left"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-md')"
  md-whiteframe="4"
  flex="20">

  <md-content layout="column">
    <md-button>Dashboard</md-button>
    <md-button>Réductions</md-button>
    <md-button>Profil</md-button>
    <md-button>Préferences</md-button>
  </md-content>
</md-sidenav>

<div flex="70">
  <h3>Bienvenue sur l'espace administration de Geopromo !<br>Vous trouverez ici tous les outils nécessaire à vos besoins pour gérer vos réductions.</h3>
</div>

</div>
