<div layout="row" layout-align="center center">
  <div flex="70">
    <h3>Bienvenue sur l'espace administration de Geopromo !<br>Vous trouverez ici tous les outils nécessaire à vos besoins pour gérer vos réductions.</h3>
    <div layout="row" layout-align="center center">
      <div flex>
      <md-button md-no-ink class="md-primary"><h2>Créer une réduction</h2></md-button>

      </div>
      <div flex>
        <md-button md-no-ink class="md-primary"><h2>Voir vos réductions</h2></md-button>
      </div>
      <div flex>
        <md-button md-no-ink class="md-primary"><h2>Consulter votre profil</h2></md-button>
      </div>
    </div>

  </div>
</div>
