<div layout="column" layout-align="center center" flex="70">

  <div layout="column" layout-align="start center">
    <h1>Connexion</h1>
    <md-input-container>
      <label>E-mail</label>
      <input type="text" name="mail" >
    </md-input-container>
    <md-input-container>
      <label>Mot de passe</label>
      <input type="password" name="password" >
    </md-input-container>
  </div>

  <md-divider></md-divider>

  <md-divider md-inset></md-divider>

<div layout="column" layout-align = "end center">
  <h1>Inscription</h1>
  <md-input-container>
    <label>E-mail</label>
    <input type="text" name="mail">
  </md-input-container>
  <md-input-container>
    <label>Prénom</label>
    <input type="text" name="firstname">
  </md-input-container>
  <md-input-container>
    <label>Nom</label>
    <input type="text" name="lastname">
  </md-input-container>
  <md-input-container>
    <label>Pseudo</label>
    <input type="text" name="pseudo">
  </md-input-container>
  <md-input-container>
    <label>Mot de Passe</label>
    <input type="text" name="pseudo">
  </md-input-container>
  <md-input-container>
    <label>Vérification du mot de passe</label>
    <input type="text" name="password">
  </md-input-container>
  <div class="centerButton">
</div>

</div>
