


<!-- <h1>Bienvenue</h1> -->
<div layout="row" layout-align="center center">
  <img src="images/shopping5.jpg" alt="">
</div>
<div layout="row" layout-align="center center">
  <div flex="70">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <md-content class="md-padding">
          <h1 class="md-display-2">Version utilisateur</h1>
          <p>Vous êtes sur la version utilisateur du site. Nous vous invitons à télécharger l'application sur le Google store.<br>Si vous etes un commercant, veuillez choisir la version vous correspondant.</p>
          <md-button class="md-raised md-primary">Je suis commerçant</md-button>
          <md-button class="md-accent" href="https://play.google.com/store?hl=fr">Je veux installer l'application</md-button>
        </md-content>
      </md-tab>

      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Version commerçant</h1>
          <p>Bienvenue sur la version commercante. Vous trouverez ici la possibilité de vous connecter pour accéder à l'interface de gestion des réductions. </p>
          <md-button class="md-raised">Je me connecte !</md-button>
          <p>Découvrez des exemples de promotions ci-dessous :</p>

          <div layout="row">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Exemple de promotion</span>
                  <p>Voici une description de la promotion que vous proposée, tout les utilisateurs de l'application pourront la voir.</p>
                </md-card-title-text>
                <md-card-title-media>
                  <img src="images/promo.jpg" alt="">
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button></md-button>
                <md-button>Modifier</md-button>
                <md-button class="md-warn">Supprimer</md-button>
              </md-card-actions>
            </md-card>

            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Autre exemple de promotion</span>
                  <p>Voici une description de la promotion que vous proposée, tout les utilisateurs de l'application pourront la voir.</p>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-lg card-media"></div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button>Modifier</md-button>
                <md-button class="md-warn">Supprimer</md-button>
              </md-card-actions>
            </md-card>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
</div>
</div>
